* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #222227;
    font-family: 'Open-sans', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url(../images/clouds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrap {
    margin: 0 auto;
    width: 65%;
    background: rgba(155, 155, 155, 0.6);
    height: 100%;
}
/*Header*/
.header-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    background: #9cb8b38a;
}

.header-left {
    width: 15%;
    height: 146px;
    background-image: url(../images/header.gif);
    background-size: contain;
    background-repeat: no-repeat;
}

.header-right {
    width: 85%;
    height: 100%;
    font-size: 35px;
}
.header-right h1 {
    font: 600 1.5em/1 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
}

.header-right span.header-text, span.header-text:after {
    font-weight: 900;
    color: #f3f3ef;
    white-space: nowrap;
    letter-spacing: .1em;
}

.header-right span {
    font-size: 1em;
    z-index: 100;
    text-shadow: .04em .04em 0 #9cb8b3;
}

/*Menu*/
.menu-wrapper {
    width: 100%;
    height: 32px;
    background-color: #3498db;
    line-height: 32px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px 0;
    height: 32px;
    line-height: 32px;
    
}
.menu li {
    list-style: none;
}
.menu li>a {
    padding: 0 11px;
    display: block;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}
.menu li:hover>a {
    background: #ffffff;
    color: #3498db;
    cursor: pointer;
}

/*forecast card*/
.forecast-card {
    width: 100%;
    overflow: hidden;
    background: #ffffff;
    margin: 10px 0;
    padding: 15px;
    display: inline-flex;
}
.forecast-card-inner-wrapper {
    display: inline-flex;
    margin: 0 auto;
}

/*left column*/
.now {
    width: 140px;
    height: 350px;
    border: 1px solid #e1e1e1;
}

.city-select-container {
    width: 100%;
    padding: 10px;
}

.city-select {
    text-align: center;
    color: #3498db;
    border: 1px solid #3498db;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    line-height: 29px;
    -webkit-appearance: none;
}

.whattowear {
    border-top: 1px solid #e1e1e1;
    margin-top: 5px;
}

.wear {
    margin-bottom: 20px;
    color: #525e66;
}

.whattowear p {
    font-size: 12px;
    text-align: center;
}

.whattowear a {
    margin-left: 13px;
}

.what-to-wear {
    color: #a1acb3;
    margin-top: 15px;
}

.wear-image {
    width: 80%;
}

/*forecast column*/

.thirty-six-forecast {
    background-color: #e1e7eb;
    display: inline-flex;
}

.separator {
   border-right: 2px solid #ffffff;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 110px;
    height: 130px;
}

.time-of-day {
    color: #667480;
    font-size: 12px;
    margin-top: 5px;
    letter-spacing: -0.1px;
}

.icon {
    width: 50px;
    margin: 10px 0;
}
.temperature {
    color: #667480;
    font-size: 16px;
    margin-bottom: 5px;
}

/*twelve days forecast*/
.fourteen {
    display: flex;
}
.fourteen .column {
    width: 20%;
    height: 220px;
    border-right: 1px solid #e1e7eb;
    border-bottom: 1px solid #e1e7eb;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.day-box {
    border-bottom: 1px solid #e1e7eb;
    width: 100%;
}
.day-box .date {
    color: #1D3B55;
    font-size: 15px;
    padding-top: 3px;
    font-weight: 900;
}
.day-box .day {
    color: #788C97;
    font-size: 11px;
    padding-bottom: 2px;
    text-transform: uppercase;
}
.day-icon {
    margin-top: 10px;
}
.day-icon>img {
    width: 50px;
    height: 50px;
}

.temp-default {
    font-size: 22px;
    font-weight: 900;
    width: 100%;
    
}
.max-temperature {
    margin-top: 18px;
    color: #f91414;
    background-color: #f3642d8f;
}

.min-temperature {
    margin-top: 15px;
    color: #0a0ada;
    background-color: #2d45f38f;
}

/* Google map */
#map {
    margin: 15px auto;
    width: 95%;
    height: 300px;
}